<%- include('../partials/header', { page_css: 'deck-analytics.css' }) %>
<%- include('../partials/navbar') %>

<div class="analytics-container">
    <main class="container">
        <%- include('../partials/stats', { stats: stats }) %>

        <section class="deck-list">
            <h2>Lista de Cartas</h2>
            <div class="card-list-grid">
                <% if (deck.leader && deck.leader.card) { %>
                    <div class="card-item">
                        <img src="<%= deck.leader.card.images.small %>" alt="<%= deck.leader.card.name %>">
                        <p>1x <%= deck.leader.card.name %> (Líder)</p>
                    </div>
                <% } %>
                <% deck.main.forEach(item => { %>
                    <% if (item.card) { %>
                        <div class="card-item">
                            <img src="<%= item.card.images.small %>" alt="<%= item.card.name %>">
                            <p><%= item.quantity %>x <%= item.card.name %></p>
                        </div>
                    <% } %>
                <% }); %>
            </div>
        </section>
    </main>
</div>

<%- include('../partials/footer') %>
<link rel="stylesheet" href="/css/stats.css">
<script src="/js/stats.js"></script>
